.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--light-gray);
}

form {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.form_title {
  font-weight: bold;
}

.form-control__label {
  display: block;
  margin: 14px 0 4px;
  color: var(--primary-black);
  font-weight: 500;
}

.form__submit {
  height: 52px;
  width: 100%;
  display: block;
  background: var(--primary-black);
  border-radius: 100px;
  border: none;
  color: var(--light-gray);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.form__submit:hover {
  box-shadow: 0 -1px 10px rgba(13, 12, 34, 0.3);
}

.cover {
  width: 100%;
}
