<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:ahmedyouseeff9@gmail.com" role="button"><i
          class="pi pi-google"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ahmed-mo-yousef"
        target="_blank" role="button"><i class="pi pi-linkedin"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ahmedyouseeff" target="_blank"
        role="button"><i class="pi pi-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright: Ahmed Yousef
  </div>
  <!-- Copyright -->
</footer>