i {
  color: gold;
}

a {
  text-decoration: none !important;
}

.card-product-list,
.card-product-grid {
  margin-bottom: 0;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  margin-top: 50px;
}

.card-product-grid:hover {
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  transition: 0.3s;
}
.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px;
}
.card .img-wrap {
  overflow: hidden;
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 275px;
  padding: 16px;
}
[class*="card-product"] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  object-fit: cover;
}
.img-wrap {
  text-align: center;
  display: block;
}
.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 5px 20px;
}
[class*="card-product"] a.title {
  color: #212529;
  display: block;
}

.card-product-grid .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4;
}

.card-product-grid .bottom-wrap button:hover {
  box-shadow: 0 -1px 10px rgba(13, 12, 34, 0.3);
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4;
}
.rated {
  font-size: 10px;
  color: #b3b4b6;
}
